lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.gulp-cache

pids
logs
results
_dev
bower_components

npm-debug.log
node_modules
server_old

# OS generated stuff
.DS_Store
.DS_Store?

# rethink db
rethinkdb_data

.build
/.idea/workspace.xml
/.idea

# pem file for deploy
pem

# temp lang files from onesky
onesky-i18n
