<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    {% if process.env.NODE_ENV === 'local' %}
      <link rel="stylesheet" href="http://localhost:3001/styles.css">
    {% else %}
      <link rel="stylesheet" href="/public/styles.css">
    {% endif %}
  </head>
<body>
  <div id="root"></div>
  {% if process.env.NODE_ENV === 'local' %}
    <script src="http://localhost:3001/bundle.js"></script>
  {% else %}
    <script src="/public/bundle.js"></script>
  {% endif %}
</body>
</html>
